{% assign career-profile = site.data.data.career-profile %}
{% if career-profile %}
<section class="section summary-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-user fa-stack-1x fa-inverse"></i>
    </span>
    {{ career-profile.title }}
  </h2>

  <div class="summary">
    <p style="color:rgb(129, 7, 243)">{{ career-profile.summary1 | markdownify }}</p><br>
    {{ career-profile.summary2 | markdownify }}<br>
    <p style="color:rgb(129, 7, 243)">{{ career-profile.summary3 | markdownify }}</p><br>
    {{ career-profile.summary4 | markdownify }}
  </div><!--//summary-->
    
</section><!--//section-->
{% endif %}
